@using BeautySaloon.Api.Dto.Common;
@using BeautySaloon.Api.Dto.Requests.Person
@using BeautySaloon.Api.Dto.Requests.User
@using BeautySaloon.Api.Dto.Responses.User
@using BeautySaloon.Api.Services;
@using WebApp.Handlers
@using BeautySaloon.DAL.Entities.Enums;
@using Radzen;
@using AutoMapper;

@inject IPersonHttpClient _personHttpClient;
@inject IMapper _mapper;
@inject NotificationService _notificationService;
@inject NavigationManager _navigationManager;
@inject DialogService _dialogService;

@if (_person == null)
{
    <p><em>Загрузка...</em></p>
}
else
{
    <RadzenTemplateForm TItem="Person" Data=@_person Submit=@OnAccept>
        <div class="row px-3">
            <div class="col-5 px-0">Имя</div>
            <div class="col-7 px-0">
                <RadzenTextBox Trim="true" Name="FirstName" Placeholder="Имя" @bind-Value=@_person.Name.FirstName />
                <RadzenRequiredValidator Component="FirstName" Text="Обязательное поле" Style="position: absolute" />
            </div>
        </div><br>

        <div class="row px-3">
            <div class="col-5 px-0">Фамилия</div>
            <div class="col-7 px-0">
                <RadzenTextBox Trim="true" Name="LastName" Placeholder="Фамилия" @bind-Value=@_person.Name.LastName />
                <RadzenRequiredValidator Component="LastName" Text="Обязательное поле" Style="position: absolute" />
            </div>
        </div><br>

        <div class="row px-3">
            <div class="col-5 px-0">Отчество</div>
            <div class="col-7 px-0">
                <RadzenTextBox Trim="true" Name="MiddleName" Placeholder="Имя" @bind-Value=@_person.Name.MiddleName />
            </div>
        </div><br>

        <div class="row px-3">
            <div class="col-5 px-0">Дата рождения</div>
            <div class="col-7 px-0">
                <RadzenDatePicker Name="BirthDate" Placeholder="Дата рождения" @bind-Value=@_person.BirthDate />
                <RadzenRequiredValidator Component="BirthDate" Text="Обязательное поле" Style="position: absolute" />
            </div>
        </div><br>

        <div class="row px-3">
            <div class="col-5 px-0">Телефон</div>
            <div class="col-7 px-0">
                <RadzenTextBox Trim="true" Name="PhoneNumber" Placeholder="Телефон" @bind-Value=@_person.PhoneNumber />
                <RadzenRequiredValidator Component="PhoneNumber" Text="Обязательное поле" Style="position: absolute" />
            </div>
        </div><br>

        <div class="row px-3">
            <div class="col-5 px-0">Электронная почта</div>
            <div class="col-7 px-0">
                <RadzenTextBox Trim="true" Name="Email" Placeholder="Электронная почта" @bind-Value=@_person.Email />
            </div>
        </div><br>

        <div class="row px-3">
            <div class="col-4 px-0 d-flex justify-content-start">
                <RadzenButton Text="Сохранить" Style="min-width: 150px" ButtonType="ButtonType.Submit" ButtonStyle="ButtonStyle.Success" />
            </div>
            <div class="col-4 px-0"></div>
            <div class="col-4 px-0 d-flex justify-content-end">
                <RadzenButton Click=@OnCancel ButtonStyle="ButtonStyle.Secondary" Text="Отмена" Style="min-width: 150px;" />
            </div>
        </div>
    </RadzenTemplateForm>
}

@code {
    [Parameter]
    public Guid PersonId { get; init; }

    public record Person
    {
        public FullName Name { get; set; } = FullName.Empty;

        public DateTime BirthDate { get; set; } = new DateTime(1990, 1, 1);

        public string? Email { get; set; } = string.Empty;

        public string PhoneNumber { get; set; } = string.Empty;
    }

    private Person _person = new();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var person = await _personHttpClient.GetAsync(PersonId, CancellationToken.None);

            _person = _mapper.Map<Person>(person);
        }
        catch (CustomApiException ex)
        {
            _notificationService.Notify(new NotificationMessage
                {
                    Severity = NotificationSeverity.Error,
                    Summary = ex.Message,
                    Detail = ex.Details.ErrorMessage,
                    Duration = 4000
                });
        }
    }

    private async Task OnAccept()
    {
        try
        {
            var request = _mapper.Map<UpdatePersonRequestDto>(_person);

            await _personHttpClient.UpdateAsync(PersonId, request, CancellationToken.None);

            _dialogService.Close(true);
        }
        catch (CustomApiException ex)
        {
            _notificationService.Notify(new NotificationMessage
                {
                    Severity = NotificationSeverity.Error,
                    Summary = ex.Message,
                    Detail = ex.Details.ErrorMessage,
                    Duration = 4000
                });
        }
    }

    private void OnCancel() => _dialogService.Close(false);
}
