@page "/appointments"
@layout MainLayout
@inherits WebApplication.Pages.AppointmentsComponent

@using Radzen
@using Radzen.Blazor

<PageTitle>Записи</PageTitle>
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Записи">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Добавить" Click="@Button0Click">
        </RadzenButton>
        <RadzenTextBox Placeholder="Поиск по ФИО или телефону ..." style="display: block; margin-bottom: 10px; width: 100%" Name="Textbox0" @oninput="@(async(args) => { Search = $"{args.Value}"; await Load(); })">
        </RadzenTextBox>
        <RadzenScheduler @ref=@scheduler
            SlotRender=@OnSlotRender
            style="height: 768px;"
            TItem="GetAppointmentListItemResponseDto"
            Data=@GetAppointmentsResult 
            StartProperty="AppointmentDate"
            EndProperty="AppointmentDateEnd"
            TextProperty="Person.Name.ConcatedName"
            SelectedIndex="2"
            SlotSelect=@OnSlotSelect
            AppointmentSelect=@OnAppointmentSelect
            AppointmentRender=@OnAppointmentRender>
            <RadzenDayView />
            <RadzenWeekView />
            <RadzenMonthView />
        </RadzenScheduler>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
