@inherits WebApplication.Layouts.MainLayoutComponent

@using Radzen
@using Radzen.Blazor
@using WebApplication.Pages

<RadzenDialog />
<RadzenNotification />
<RadzenTooltip />
<RadzenContextMenu />

<RadzenLayout>
  <ChildContent>
    <RadzenHeader>
      <ChildContent>
        <div class="row justify-content-start align-items-center">
          <div class="col-6 d-flex align-items-center">
            <RadzenSidebarToggle Click="@SidebarToggle0Click">
            </RadzenSidebarToggle>
            <RadzenLabel Text="Beauty Studio">
            </RadzenLabel>
          </div>
          <div class="col-6 text-right">
            <RadzenButton Click="OnLogout" Shade="Shade.Lighter" ButtonStyle="ButtonStyle.Light" Icon="exit_to_app" Size="ButtonSize.Medium" Style="margin-right: 1rem">
            </RadzenButton>
          </div>
        </div>
      </ChildContent>
    </RadzenHeader>
    <RadzenBody @ref="body0">
      <ChildContent>
        <RadzenContentContainer Name="main">
        @Body
        </RadzenContentContainer>
      </ChildContent>
    </RadzenBody>
    <RadzenSidebar @ref="sidebar0">
      <ChildContent>
        <RadzenPanelMenu style="height: 100%">
          <ChildContent>
            @if (User != null)
            {
                @if (User.Role == Role.Admin)
                {
                    <RadzenPanelMenuItem Text="Пользователи" Path="users">
                    </RadzenPanelMenuItem>
                    <RadzenPanelMenuItem Text="Услуги" Path="cosmetic-services">
                    </RadzenPanelMenuItem>
                    <RadzenPanelMenuItem Text="Абонементы" Path="subscriptions">
                    </RadzenPanelMenuItem>
                    <RadzenPanelMenuItem Text="Материалы" Path="materials">
                    </RadzenPanelMenuItem>
                }
                <RadzenPanelMenuItem Text="Клиенты" Path="persons">
                </RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Заказы" Path="orders">
                </RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Записи" Path="appointments">
                </RadzenPanelMenuItem>
            }
          </ChildContent>
        </RadzenPanelMenu>
      </ChildContent>
    </RadzenSidebar>
    <RadzenFooter>
      <ChildContent>
        <RadzenLabel Text="Beauty Studio, Ulstu Ⓒ 2023">
        </RadzenLabel>
      </ChildContent>
    </RadzenFooter>
  </ChildContent>
</RadzenLayout>
